<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Pesagem</title>
</head>
<body>
    <h1>Cadastro de Pesagem</h1>

    <form action="#" th:action="@{/balanca/imprimir}" th:object="${balanca}" method="post">
        
        
        <div>
            <label for="destino">Destino:</label>
            <input type="text" id="destino" th:field="*{destino}" required />
        </div>
        
        <div>
            <label for="placa">Placa:</label>
            <input type="text" id="placa" th:field="*{placa}" required />
        </div>

        <div>
            <label for="valor">Valor:</label>
            <input type="text" id="valor" th:field="*{valor}" required />
        </div>

        <div>
            <button type="submit">Imprimir</button>
        </div>
    </form>
    <p th:text="${mensagem}"></p>
</body>
</html>
